name: regular-check

on:
  schedule:
    - cron: "11 1 * * *"
  workflow_dispatch: {}

jobs:
  regular-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ">=1.26.0"
          check-latest: true

      - uses: nolar/setup-k3d-k3s@v1
        with:
          skip-creation: true
          skip-readiness: true

      - name: Tests
        env:
          MCS_BACKUP_DEBUG: true
        uses: nick-fields/retry@v3
        with:
          max_attempts: 2
          retry_on: error
          timeout_seconds: 3600
          command: ./test/run cleanup all
